@import url(//fonts.googleapis.com/earlyaccess/jejumyeongjo.css);

.jejumyeongjo * {
  font-family: "Jeju Myeongjo", serif;
}

.textWrap {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.mainText {
  display: flex;
  align-items: center;
  font-family: "Jeju Myeongjo", serif;
  font-size: 3rem;
}
